body {
    font-family: "Open Sans" ,sans-serif;
    color: #000000;
    margin-top: 40px;
    line-height: 16px;

}

h1, h2, h3, h4, h5, h6 {
    font-family:"Open Sans", sans-serif;
    font-weight: 500;
    line-height:40px;

}

h1 {
    font-weight: 700;
}



/*
    Header Section
*/

#header-section {
    background: url(../images/banner/banner.jpg) no-repeat center top;
    margin-top: -20px;
    padding-top:20px;
    text-align:center;
    background-position: center center;
    min-height: 700px;
    width: 100%;

    /* browser support*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-section h1 {
    margin-top: 120px;
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 70px;
}

#header-section h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 4px;
}

#down-icon {
    color: #ffffff;
    font-weight: 900;
    font-size: 65px;
    @include animation (bounce 2s infinite)
}

.bounce {
    position: absolute;
    bottom: 200px;
    left: 50% ;
    width: 60px;
    height: 60px ;
    margin-left:-30px;

    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

/*
Bootstrap element
*/

.navbar {
    font-size: 14px;
}

.navbar-inverse {
    background: #000000;
    border-color: #5d5b66;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-nav >li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a {
    background: #2e6da4;
}

